* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #f2f2f2;
  margin: 0;
  position: absolute;
  z-index: -1;
  top: 0;
}

h2,h3,h4 {
  font-weight: 600;
}

.mobile {
  display: inline-block;
}

.desktop {
  display: none;
}



.dots {
  display: none;
}

/* MENU */

/* hamburger menu icon */

.hamburger_div {
  height: 70px;
  z-index: 99;
  background: #414042;
  padding: 15px 0 0 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.hamburger_logo {
  width: 120px;
}

.hamburger {
  display: block;
  top: 20px;
  left: 25px;
  position: absolute;
}

.hamburger_icon {
  width: 36px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Hamburger icons animation */

.hamburger_icon_one {
  transform-origin: center center;
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger_icon_two {
  opacity: 0;
}

.hamburger_icon_three {
  transform-origin: center center;
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
}

/* menu hidden */

.menu {
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: #414042;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100vw);
  transition: 0.4s;
}


/* menu show */

.menu_show {
  transform: translateX(0vw);
}

.menu-link {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 10px 0;
}

.menu-login {
  background-color: #343333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

.menu-try {
  background-color: #acdd17;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

/* HOMEPAGE */

.double_section {
  padding: 15vh 5vw;
  background-color: #f2f2f2;
}

.double_section_text {
  margin-bottom: 40px;
}

.double_section_text h2 {
  font-size: 2rem;
}

.try {
  color: #fff;
  font-weight: 800;
  background-color: #acdd17;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.double_section_img img {
  width: 100%;
}

/* CLIENTS SECTION */

.carousel_section {
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

/* CAROUSEL  */

.owl-carousel .item {
  width: 70%;
  margin: auto;
  transition: 0.4s;
}

.owl-carousel .item img {
  width: 100%;
}

.carousel_section .owl-carousel .item img:nth-child(2) {
  display: none;
}

.owl-carousel .owl-nav {
  display: block;
  position: relative;
  top: -70px;
}

.owl-carousel .owl-nav.disabled {
  display: block;
}

.owl-next {
  position: absolute;
  right: 5px;
}

.owl-next img {
  width: 25px;
}

.owl-prev {
  position: absolute;
  left: 5px;
}

.owl-prev img {
  width: 25px;
}

/* SEGUIMIENTO SECTION */

.cards_section {
  background-color: #f2f2f2;
  padding: 50px 5vw;
  text-align: center;
}

.cards_container {
  display: flex;
  flex-direction: column;
  display: 100%;
}

.cards_item-imgs {
  position: relative;
  width: 70%;
  text-align: center;
  margin: auto;
}

.cards_item-imgs img:nth-child(1) {
  width: 100%;
}

.cards_item-imgs img:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
}

.cards_item h3 {
  margin: 0;
}

/* DECISION SECTION */

.decision_text ul {
  list-style-type: none;
  padding-left: 20px;
}

.decision_text ul li::before {
  content: "\2022";
  color: #acdd17;
  font-weight: bold;
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle;
  width: 0.5em;
  line-height: 1rem;
}

/* PLAN SECTION */

.plan_section {
  background-color: #fff;
}

.plan_cards .cards_item {
  background-color: rgba(172,221,23,0.15);
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px 0;
}

.plan_description {
  margin-bottom: 70px;
}

.plan_description h2 {
  font-size: 2.2rem;
  margin-bottom: 60px;
}

.plan_cost p {
  margin-bottom: 0;
}

.plan_cost h3 {
  font-size: 2rem;
}

.plan_cost h6 {
  margin: 5px 0;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

/* JOIN SECTION */

.join_section {
  padding: 50px 5vw;
  text-align: center;
  position: relative;
}

.join_section img {
  position: absolute;
  width: 90%;
  left: 5%;
  z-index: -1;
}

/* FOOTER */

footer {
  text-align: center;
  background-color: #343333;
  margin-top: 50px;
  padding: 40px 5vw;
  color: #fff;
}

.footer_logo {
  width: 10rem;
  vertical-align: middle;
  margin-left: 10px;
}

.footer_links {
  margin-top: 50px;
}

.footer_links a {
  display: block;
  margin-top: 15px;
}

.footer_icon {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

/* CONTACT */

.contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 80px 5vw;
}

.contact_title {
  width: 100%;
}

.contact_title img {
  width: 100%;
}

.form_section {
  width: 100%;
  /* padding: 30px 5vw; */
}

.form_section h2 {
  font-weight: 400;
  margin-bottom: 0;
}

.form_section p {
  font-size: 0.9rem;
}

.contact_form {
  width: 100%;
  padding: 30px 0;
}

.contact_form input,textarea {
  width: 95%;
  margin: 5px 0;
  border: none;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 0.9rem;
}

.contact_form input[type=submit] {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: #acdd17;
  color: #fff;
  width: 30%;
  cursor: pointer;
}

.animation-bord {
  position: absolute;
  bottom: 10px;
  width: 150px;
}

.animation-bord img {
  width: 100%;
}

/* FAQ PAGE */

.faq_body {
  background-color: #f2f2f2;
  color: #343333;
}

.green {
   color: #acdd17;
}

.faq_section {
  padding: 70px 5vw;
}

.faq_container {
  display: flex;
  flex-direction: column;
  transform: 0.4s;
}

.question_list {
  transition: 0.4;
}

.spread-butt {
  cursor: pointer;
}

.spread-icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-right: 10px;
  transition: 0.4s;
  transform: rotate(-90deg);
  transform-origin: center center;
}

.spread-icon-rotate {
  transform: rotate(0deg);
}

.question_list li {
  border-bottom: 1px solid #211915;
  transition: 0.4s;
}

.question_list li h4 {
  display: inline-block;
  vertical-align: middle;
}

.answer {
  opacity: 0;
  height: 0;
  visibility: hidden;  
  transition: 0.4s;
}

.answer-show {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.faq-img {
  width: 100%;
  padding-top: 100px;
}

.faq-img img {
  width: 100%;
}
