/* media query for TABLETS */

@media screen and (min-width: 720px) and (orientation: portrait) {

  /* CARDS SECTION */

  .cards_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .cards_item {
    width: 40%;
    margin-top: 30px;
  }

  /* JOIN SECTION */

  .join_section {
    padding: 30vh 5vw;
  }

  .join_section img {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 25%;
    z-index: -1;
  }

}

@media screen and (min-width: 900px) and (orientation: portrait) {

  /* CLIENTS SECTION */

  .carousel_section {
    padding: 80px 10vw;
  }

  .carousel_section h2 {
    margin-top: 0;
  }

  .owl-next {
    right: -20px;
  }

  .owl-prev {
    left: -20px;
  }

  /* CARDS SECTION */

  .cards_section {
    padding: 150px 5vw;
  }

  .cards_item {
    width: 30%;
    margin-top: 30px;
    /* flex: 1; */
  }

  .plan_cards .cards_item {
    padding: 30px 10px;
  }

  .plan_section {
    padding: 150px 5vw 0 5vw;
  }

  /* JOIN SECTION */

  .join_section {
    padding: 20vh 5vw;
  }

}

/* MEDIA QUERY FOR LAPTOPS AND DESKTOP */

@media screen and (min-width: 1000px) and (orientation: landscape) {

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  /* MENU */

  /* hamburger menu icon */

  .hamburger_div {
    background: none;
    height: auto;
    z-index: 99;
    padding: 0;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 240px;
    text-align: auto;
  }

  .hamburger_logo {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  /* menu hidden */

  .menu {
    position: fixed;
    z-index: 50;
    top: 0;
    background: none;
    padding: 25px 30px 25px 20vw;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    transform: translateX(0vw);
  }


  /* menu show */

  .menu-link {
    color: #343333;
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0px 10px;
  }

  .menu-login, .menu-try {
    color: #fff;
  }

  /* HEADER */

  .double_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    height: 100vh;
  }

  .double_section_text {
    width: 35%;
  }

  .double_section_text h2 {
    font-size: 2.7rem;
  }

  .double_section_img {
    width: 60%;
  }

  .try {
    font-size: 1.2rem;
  }

  /* CAROUSEL SECTION */

  .carousel_section {
    padding: 80px 10vw;
  }

  .carousel_section h2 {
    margin: 0 0 50px 0;
    font-size: 2.4rem;
  }

  .owl-next {
    right: -20px;
  }

  .owl-prev {
    left: -20px;
  }

  /* CARDS SECTION */

  .cards_section {
    padding: 120px 10vw;
  }
  .cards_section h2 {
    margin-top: 0;
    font-size: 2.4rem;
  }

  .cards_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .cards_item {
    width: 30%;
    margin-top: 30px;
    padding: auto 10px;
  }

  .plan_cards .cards_item {
    color: #343333;
    padding: 50px 10px;
    transition: 0.4s;
    cursor: pointer;
  }

  .plan_cards .cards_item:hover {
    background-color: rgba(172,221,23,0.5);
    transform: scale(1.07);
  }

  /* JOIN SECTION */

  .join_section {
    padding: 0 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .join_section img {
    width: 70%;
    left: 15%;
    top: 0;
  }

  .join_section h2 {
    font-size: 2.4rem;
  }

}

/* MEDIA QUERY FOR LAPTOPS AND DESKTOP */

@media screen and (min-width: 1440px) and (orientation: landscape) {

  /* DOUBLE SECTION */

  .double_section {
    padding: 0 10vw;
    /* max-width: 1000px; */
  }

  .cards_section {
    padding: 150px 12vw;
  }

  .join_section {
    padding: 0 20vw;
    max-width: 1500px;
    margin: 0 auto;
  }

}
